@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body{
  background-color: white;
}

.card:hover{
  box-shadow: 2px 2px 10px 1px rgb(203 213 225);
}
